{% extends "layouts/base.html" %}

{% block title %} Export Data Depresi Sebelum Clustering {{ periode }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="col-md-12">
  <div class="card card-chart">
    <div class="card-header card-header-tabs card-header-info" style="background: linear-gradient(60deg, #00918e, #19014c);">
      <h4 class="card-title">Export Data Depresi Sebelum Clustering</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">Cari Berdasarkan Periode</h4>
              <br>
              <form method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">From:</label>
                      <br>
                      <input type="date" name="fromdate" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">To:</label>
                      <br>
                      <input type="date" name="todate" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">Hasil Pencarian {{ periode }}</h4>
              <br>
              {{ data | safe }}
              <br>
              <div class="row" id="grafik">
                <div class="col-md-12">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <center>
                          <h4 class="card-title">Data Umur dengan Jumlah Pengguna</h4>
                        </center>
                      </div>
                      <div class="col-md-6">
                        <img src="data:image/png;base64,{{graphic_umur_pie|safe}}" class="img-fluid">
                      </div>
                      <div class="col-md-6">
                        <img src="data:image/png;base64,{{graphic_umur_bar|safe}}" class="img-fluid">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <center>
                          <h4 class="card-title">Data Jenis Kelamin dengan Jumlah Pengguna</h4>
                        </center>
                      </div>
                      <div class="col-md-6">
                        <img src="data:image/png;base64,{{graphic_jeniskelamin_pie|safe}}" class="img-fluid">
                      </div>
                      <div class="col-md-6">
                        <img src="data:image/png;base64,{{graphic_jeniskelamin_bar|safe}}" class="img-fluid">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <center>
                          <h4 class="card-title">Data Status Pekerjaan dengan Jumlah Pengguna</h4>
                        </center>
                      </div>
                      <div class="col-md-6">
                        <img src="data:image/png;base64,{{graphic_statuspekerjaan_pie|safe}}" class="img-fluid">
                      </div>
                      <div class="col-md-6">
                        <img src="data:image/png;base64,{{graphic_statuspekerjaan_bar|safe}}" class="img-fluid">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <center>
                          <h4 class="card-title">Data Tingkat Depresi dengan Jumlah Pengguna</h4>
                        </center>
                      </div>
                      <div class="col-md-6">
                        <img src="data:image/png;base64,{{graphic_tingkatdepresi_pie|safe}}" class="img-fluid">
                      </div>
                      <div class="col-md-6">
                        <img src="data:image/png;base64,{{graphic_tingkatdepresi_bar|safe}}" class="img-fluid">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      //init DateTimePickers
      md.initFormExtendedDatetimepickers();
    });
  </script>
  
{% endblock javascripts %}
