{% extends "layouts/base.html" %}

{% block title %} Tambah Penanganan {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info" style="background: linear-gradient(60deg, #00918e, #19014c);">
                  <h4 class="card-title">Tambah Penanganan Baru</h4>
                  <!-- <p class="card-category">Complete your profile</p> -->
                </div>
                <div class="card-body">
                <form method='POST' action='.'>{% csrf_token %}
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <!-- <label class="bmd-label-floating">Penanganan</label> -->
                            {{ form.as_p }}
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
