{% extends "layouts/base.html" %}

{% block title %} Detail Pertanyaan Kuesioner {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info" style="background: linear-gradient(60deg, #00918e, #19014c);">
                  <h4 class="card-title">Detail Pertanyaan Kuesioner</h4>
                  <!-- <p class="card-category">Complete your profile</p> -->
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Judul</label>
                          <input type="text" class="form-control" value="{{object.pertanyaan}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Bobot</label>
                          <input type="text" class="form-control" value="{{object.bobot}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <!-- <a href="{% url 'app:hapus-pertanyaan' object.id %}" class="btn btn-primary pull-right">Hapus</a> -->

                    <a href="{% url 'app:edit-pertanyaan' object.id %}" class="btn btn-primary pull-right">Edit</a>


                    <!-- <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cover</label>
                          <img src="/static/assets/img/6.png" style="height: 100px; width: 100px" class="form-control">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Isi</label>
                          <textarea class="form-control" rows="45" disabled="true">
                            {{object.isi}}
                          </textarea>
                        </div>
                      </div> -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
