{% extends "layouts/base.html" %}

{% block title %} Page 404 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <p class="mx-sm-1 lead">Selected cluster size is {{ k }}.</p>
<p class="mx-sm-1 lead">Cluster assigned to districts are:-</p><br />
{{ df | safe }}<br />
<img src="data:image/png;base64,{{graphic|safe}}" class="mx-sm-1"><br /><br />
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
