{% extends "layouts/base.html" %}

{% block title %} Hapus Pertanyaan Kuesioner {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="card">
            <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
            </button>
            <span>
                <form method='POST' action="."> {% csrf_token %}
                <b> Warning - </b> Apakah anda yakin ingin menghapus data="{{ object.pertanyaan }}" ini?</span>
                </form>
                <form method='POST' action="."> {% csrf_token %}
                <input type='submit' value='Yes'>
                <a href="{% url 'app:detail-pertanyaan' object.id %}">Cancel</a>
                </form>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      //init DateTimePickers
      md.initFormExtendedDatetimepickers();
    });
  </script>
  
{% endblock javascripts %}
