{% extends "layouts/base.html" %}

{% block title %} Detail Pengguna {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info" style="background: linear-gradient(60deg, #00918e, #19014c);">
                  <h4 class="card-title">Detail Pengguna</h4>
                  <!-- <p class="card-category">Complete your profile</p> -->
                </div>
                <div class="card-body">
                  <form>
                    <!-- <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Tingkat Depresi</label>
                          {% if object.tingkatdepresi_id == 1 %}
                          <input type="text" class="form-control" value="Tidak Depresi" disabled="true">
                          {% elif object.tingkatdepresi_id == 2 %}
                          <input type="text" class="form-control" value="Depresi Ringan" disabled="true">
                          {% elif object.tingkatdepresi_id == 3 %}
                          <input type="text" class="form-control" value="Depresi Sedang" disabled="true">
                          {% else %}
                          <input type="text" class="form-control" value="Depresi Berat" disabled="true">
                          {% endif %}
                        </div>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nama</label>
                          <input type="text" class="form-control" value="{{object.nama}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="text" class="form-control" value="{{object.email}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Tanggal Lahir</label>
                          <input type="text" class="form-control" value="{{object.ttl}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Jenis Kelamin</label>
                          <input type="text" class="form-control" value="{{object.jenis_kelamin}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Pekerjaan</label>
                          <input type="text" class="form-control" value="{{object.pekerjaan}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <!-- <a href="{% url 'app:hapus-pengguna' object.id %}" class="btn btn-primary pull-right">Hapus</a>

                    <a href="{% url 'app:edit-pengguna' object.id %}" class="btn btn-primary pull-right">Edit</a> -->


                    <!-- <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cover</label>
                          <img src="/static/assets/img/6.png" style="height: 100px; width: 100px" class="form-control">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Isi</label>
                          <textarea class="form-control" rows="45" disabled="true">
                            {{object.isi}}
                          </textarea>
                        </div>
                      </div> -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
