{% extends "layouts/base.html" %}

{% block title %} Detail Pengguna {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info" style="background: linear-gradient(60deg, #00918e, #19014c);">
                  <h4 class="card-title">Detail Pengguna</h4>
                  <!-- <p class="card-category">Complete your profile</p> -->
                </div>
                <div class="card-body">
                  <form>
                    <!-- <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Tingkat Depresi</label>
                          {% if object.tingkatdepresi_id == 1 %}
                          <input type="text" class="form-control" value="Tidak Depresi" disabled="true">
                          {% elif object.tingkatdepresi_id == 2 %}
                          <input type="text" class="form-control" value="Depresi Ringan" disabled="true">
                          {% elif object.tingkatdepresi_id == 3 %}
                          <input type="text" class="form-control" value="Depresi Sedang" disabled="true">
                          {% else %}
                          <input type="text" class="form-control" value="Depresi Berat" disabled="true">
                          {% endif %}
                        </div>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nama</label>
                          <input type="text" class="form-control" value="{{object.nama}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="text" class="form-control" value="{{object.email}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Tanggal Lahir</label>
                          <input type="text" class="form-control" value="{{object.ttl}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Umur</label>
                          <input type="text" class="form-control" value="{{object.umur}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Jenis Kelamin</label>
                          <input type="text" class="form-control" value="{{object.jenis_kelamin}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Pekerjaan</label>
                          <input type="text" class="form-control" value="{{object.pekerjaan}}" disabled="true">
                        </div>
                      </div>
                    </div>
                    <!-- <a href="{% url 'app:hapus-pengguna' object.id %}" class="btn btn-primary pull-right">Hapus</a>

                    <a href="{% url 'app:edit-pengguna' object.id %}" class="btn btn-primary pull-right">Edit</a> -->


                    <!-- <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cover</label>
                          <img src="/static/assets/img/6.png" style="height: 100px; width: 100px" class="form-control">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Isi</label>
                          <textarea class="form-control" rows="45" disabled="true">
                            {{object.isi}}
                          </textarea>
                        </div>
                      </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info" style="background: linear-gradient(60deg, #00918e, #19014c);">
                  <h4 class="card-title ">History Deteksi Dini Pengguna</h4>
                  <!-- <p class="card-category"> *modifikasi pengguna terdapat di kolom aksi</p> -->
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <!-- <th>
                          No
                        </th> -->
                        <th>
                          Hasil Deteksi
                        </th>
                        <th>
                          Tanggal Deteksi
                        </th>
                      </thead>
                      <tbody>
                        {% for object in object_list %}
                        <tr>
                          <!-- <td>
                            {{ object.id }}
                          </td> -->
                          <td>
                            {% if object.tingkatdepresi_id == 1 %}
                                Tidak Depresi
                            {% elif object.tingkatdepresi_id == 2 %}
                                Depresi Ringan
                            {% elif object.tingkatdepresi_id == 3 %}
                            Depresi Sedang
                            {% else %}
                                Depresi Berat
                            {% endif %}
                          </td>
                          <td>
                            {{ object.createdAt }}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        {% if object_list.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ object_list.previous_page_number }}">Previous</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                          </li>
                        {% endif %}
                        {% for i in object_list.paginator.page_range %}
                          {% if object_list.number == i %}
                            <li class="page-item active" aria-current="page">
                              <span class="page-link">
                                {{ i }}
                                <span class="sr-only">(current)</span>
                              </span>
                            </li>
                          {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if object_list.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ object_list.next_page_number }}">Next</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                          </li>
                        {% endif %}
                      </ul>
                    </nav>
                    <!--end of Pagination-->
                  </div>
                </div>
              </div>
            </div>
          </div>

          
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
