{% extends "layouts/base.html" %}

{% block title %} Pengguna {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info" style="background: linear-gradient(60deg, #00918e, #19014c);">
                  <h4 class="card-title ">Daftar Pengguna</h4>
                  <p class="card-category"> *detail pengguna terdapat di kolom aksi</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <!-- <th>
                          No
                        </th> -->
                        <th>
                          Nama
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Umur
                        </th>
                        <th>
                          Jenis Kelamin
                        </th>
                        <th>
                          Pekerjaan
                        </th>
                        <th>
                          Aksi
                        </th>
                      </thead>
                      <tbody>
                        {% for object in object_list %}
                        <tr>
                          <!-- <td>
                            {{ object.id }}
                          </td> -->
                          <td>
                            {{ object.nama }}
                          </td>
                          <td>
                            {{ object.email }}
                          </td>
                          <td>
                            {{ object.umur }}
                          </td>
                          <td>
                            {{ object.jenis_kelamin }}
                          </td>
                          <td>
                            {{ object.pekerjaan }}
                          </td>
                          <td>
                            <a class="link" href="{% url 'app:detail-pengguna' object.id %}">Detail</a>
                            <!-- <a class="link" href="{% url 'app:edit-penanganan' object.id %}">Edit</a> | 
                            <a class="link" href="{% url 'app:hapus-penanganan' object.id %}">Hapus</a> -->
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        {% if object_list.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ object_list.previous_page_number }}">Previous</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                          </li>
                        {% endif %}
                        {% for i in object_list.paginator.page_range %}
                          {% if object_list.number == i %}
                            <li class="page-item active" aria-current="page">
                              <span class="page-link">
                                {{ i }}
                                <span class="sr-only">(current)</span>
                              </span>
                            </li>
                          {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if object_list.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ object_list.next_page_number }}">Next</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                          </li>
                        {% endif %}
                      </ul>
                    </nav>
                    <!--end of Pagination-->
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
